html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Цвета */
:root {
  --grey: #757575;
  --main-black: #212121;
  --background: #2f303a;
  --button-background: #f5f4fa;
  --background-white: #ffffff;
  --footer-rgba: rgba(255, 255, 255, 0.6);
  --hover: #2196f3;
}

body {
  color: var(--main-black);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Убрать точки у списков */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Убрать подчеркивания у ссылок */
a {
  text-decoration: none;
}
/* h1-h6 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
/* Ширина основоной страници */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Логотип в шапке */
.logo-header {
  color: var(--main-black);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 0;
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}
.logo-blue {
  color: #2196f3;
}

/* Логотип футер */
.logo-footer {
  color: var(--background-white);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}

/* стили для шапки */
.head-nav .link {
  color: var(--main-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.head-nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 331px;
}
/* .head-nav .item {
  margin-right: 50px;
}
.head-nav .item:last-child {
  margin-right: 0;
} */
.head-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* расположение элементов в шапке */
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.nav-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .nav-style {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.head-nav .link:hover,
.head-nav .link:focus {
  color: var(--hover);
}
/* Контакты */
.contacts {
  display: flex;
}
.contacts .item:not(:last-child) {
  margin-right: 50px;
  /* justify-content: flex-end; */
}
.contacts .link {
  color: var(--grey);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
}
.contacts .mail::before {
  content: '';
  width: 16px;
  height: 12px;
  /* outline: 1px solid black; */
  margin-right: 10px;
  background-image: url('../image/mailpng.png');
  background-size: contain;
  display: inline-block;
}

.contacts .phone::before {
  content: '';
  width: 10px;
  height: 16px;
  /* outline: 1px solid black; */
  /* margin-right: 10px; */
  background-image: url('../image/smartphone.png');
  background-size: contain;
  display: inline-block;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover);
}

.head-nav .current {
  color: var(--hover);
}

/* стили для футера */
.footer-nav {
  background-color: var(--background);
}

.adress {
  color: var(--background-white);
}

.footer-contacts {
  color: var(--footer-rgba);
}
.footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.footer-container .item + .item {
  margin-top: 9px;
}
/* Стили для адреса и контактов футер */
.footer-nav .list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress:hover,
.adress:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover);
}
/* .footer-nav .logo-footer {
  margin-top: 60px;
  margin-bottom: 20px;
} */

/* Шапка с кнопкой */
.head-button {
  background: rgb(86 86 86);
}

.head-button .container {
  max-width: 1600px;
  text-align: center;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/Portfolio/head-img.jpg');
}

.head-button h1 {
  color: var(--background-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* margin-bottom: 30px; */
  padding-top: 200px;
  padding-bottom: 30px;
}

.centered {
  text-align: center;
}
/* оформлениек кнопки */
.head-button .list {
  margin-top: 0;
  padding: 0;
}

/* .head-button .button {
  background-color: var(--hover);
  color: var(--background-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border: none;
  margin-bottom: 200px;
  margin-top: 30px;
  text-align: center;
} */
.button-center .button {
  background-color: var(--hover);
  color: var(--background-white);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  padding: 0;
  margin-bottom: 200px;
}

/* Заголовки */
.section-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Заголовки особенностей */
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}
.features p {
  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 94px;
}
.features .list {
  display: flex;
  justify-content: center;
  /* width: 270px; */
  align-items: center;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}
.features .item {
  width: 270px;
  margin-top: 99px;
}
/* Особенности картинки  */
.features .item::before {
  display: block;
  content: '';
  height: 120px;
  /* background-size: contain; */
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}
.details::before {
  background-image: url('../image/antenapng.png');
}
.clock::before {
  background-image: url('../image/clock.png');
}
.computer::before {
  background-image: url('../image/computer.png');
}
.astranaut::before {
  background-image: url('../image/astronaut.png');
}

/* Чем мы занимаемся  */
.boxes .list {
  display: flex;
  justify-content: center;
}
.boxes .item:not(:last-child) {
  margin-right: 30px;
}
.section-tittle {
  margin-top: 0;
  margin-bottom: 50px;
}

/* Наша команда */

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  /* margin-top: 94px; */
  margin-bottom: 10px;
  text-align: center;
}

.team p {
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}
.team .list {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  /* margin-bottom: 94px; */
  padding-bottom: 94px;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white);
}
.team {
  padding-top: 94px;
  margin-top: 94px;
  /* margin-top: 94px; */

  background-color: var(--button-background);
}
.team img {
  margin-bottom: 30px;
}

/* Кнопки фильтра */
.filter .button {
  font-family: 'Roboto', sans-serif;
  color: var(--main-black);
  background-color: var(--button-background);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  /* width: 200px; */
  height: 38px;
  /* left: 700px; */
  /* top: 430px; */
  padding: 0;
  min-width: 78px;
  margin-right: 8px;
  padding-left: 22px;
  padding-right: 22px;

  padding-top: 6px;
  padding-bottom: 6px;
}
.filter .button:not(:last-child) {
  margin-right: 8px;
}
.filter {
  margin-top: 94px;
}
.filter .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* flex-basis: calc((100% - 30px) / 5); */
}
/* .filter .item {
} */
.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--background-white);
  background-color: var(--hover);
}

/* Стили для проектов */

.project h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project {
  margin-bottom: 94px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.project p {
  color: var(--grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* .project-container p {
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
} */

.project .list {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -30px; */

  /* flex-basis: calc((100% -90px) / 3); */
}
/* .project .list:not(:last-child) {
  margin-right: 30px;
} */
/* .project-container .item:not(:last-child) {
  margin-right: 30px;
} */
.project-container .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-container .item:nth-child(3n) {
  margin-right: 0;
}
.project-container .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-container {
  /* display: flex; */
  /* width: px; */
  /* padding-left: 30px;
  padding-right: 30px; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  /* align-items: center; */
  /* justify-content: center; */
}

/* значки соц сетей  */

/* .team .social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
} */

/* .team .social-icon {
  width: 44px;
  height: 44px;
  fill: #ffffff;
} */

.team-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-white);
  justify-content: center;
}

.social {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.social > li:not(:last-child) {
  margin-right: 10px;
}
.team .social-icon:hover {
  fill: var(--hover);
}
